# Default ignored files
/../../Capitulo_17_Aplicaciones_Web /.idea/shelf/
/../../Capitulo_17_Aplicaciones_Web /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Capitulo_17_Aplicaciones_Web /.idea/httpRequests/
